*{
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

html{
    font-size: 62,5%;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
    height: 8rem;
}

.logo_menu , .logo{
    width: 4rem;
}

.menu_list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu_link{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}