*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: white;
    margin-top: 30px;
}

body{
    background-color: rgb(20, 20, 20);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem ;
}

.img{
    /* width: 300px;
    height: 300px;
    border: 2px solid rgb(43, 219, 198);
    overflow: hidden;
    border-radius: 0% 20% 0%;
     */

}
.img:hover{
    box-sizing:0 0 3px rgb(0, 0, 0);
    filter: grayscale(0);
    object-fit: cover;
    transition: 0.4s;
   

}


img{
    width:300px ;
    height: 300px;
    object-fit: cover;
    object-position: top;
     filter: grayscale(1);
     transition: 0.4s;
    
}

img:hover{
       transform: scale(1.1);
         filter: opacity(1);

}

div > .img1{
        width: 300px;
    height: 300px;
    border: 2px solid rgb(43, 219, 198);
    overflow: hidden;
    border-radius: 0% 20% 0%;

}

