*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: rgb(88, 88, 224);
    color: aliceblue;
}

nav > ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.menu_link{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}